#signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#signup input{
    background-color: #f0f0f0;
    color: black;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
}