.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(78, 78, 78);
    padding: 20px;
    max-width: 400px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
  }
  
  .signin-container input {
    background-color: #f0f0f0;
    color: black;
    margin: 10px;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
  }
  
  .signin-container button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    margin-bottom: 20px
  }
  
  .signin-container button:hover {
    background-color: #0056b3;
  }